$header-font:"dancing_script_otregular";
$main-font:"open_sansregular";

//ma palette de couleur
$color-primary-0: #A33649;	
$color-header: #F6D2D8;
$color-secondary-1-0: #B50C3A;
$color-secondary-1-1: #34000E;
$background: #69001C;
$color-secondary-1-3: #E8A4B6;
$color-secondary-1-4: #a1a1a1;

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: $main-font;
    text-align: center;
  }